<form id="auth-form" class="uk-form-stacked"
  {{#if data.register}}
    action="/auth/register"
    {{else}}
      action="/auth/login"
  {{/if}}
  method="post" enctype="application/x-www-form-urlencoded">
  {{#if data.register}}
    <div class="auth-field uk-margin-small">
      <label for="name" class="uk-form-label">Name</label>
      <div class="uk-inline uk-form-controls">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
        <input name="name" type="text" placeholder="What is your name?" autofocus required class="uk-input uk-form-blank">
      </div>
    </div>
    <div class="auth-field uk-margin-small">
      <label for="email" class="uk-form-label">Email</label>
      <div class="uk-inline">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
        <input name="email" type="email" placeholder="user@cappsule.com" required class="uk-input uk-form-blank">
      </div>
    </div>  
  {{/if}}
  <div class="auth-field uk-margin-small">
    <label for="username" class="uk-form-label">Phone number</label>
    <div class="uk-inline uk-form-controls">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: receiver"></span>
      <input name="username" type="tel" placeholder="10 digit number" minlength="10" maxlength="10" autocomplete="username" autofocus required class="uk-input uk-form-blank">
    </div>
  </div>
  <div class="auth-field uk-margin-small">
    <label for="password" class="uk-form-label">Password</label>
    <div class="uk-inline uk-form-controls">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <input name="password" type="password" placeholder="Your password" autocomplete="current-password" required class="uk-input uk-form-blank">
    </div>
  </div>
  {{#if data.register}}
  <div class="auth-field uk-margin-small">
    <label for="confirm-password" class="uk-form-label">Confirm password</label>
    <div class="uk-inline uk-form-controls">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <input name="confirm-password" type="password" placeholder="Same password" autocomplete="off" required class="uk-input uk-form-blank">
    </div>
  </div>
  {{/if}}
  {{#if errorMessage}}
    <div class="errorCard uk-card uk-card-body uk-card-default uk-card-small uk-margin">
      <p class="errorMessage uk-text-meta">{{errorMessage}}</p>
    </div>
  {{/if}}
  {{#if data.register}}
    <button type="submit" class="uk-button">Register</button>
    {{else}}
      <button type="submit" class="uk-button">Log in</button>
  {{/if}}
</form>