<div id="prescription-picture-modal" class="uk-modal-full uk-modal" uk-modal>
  <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
    <button class="uk-modal-close-full" type="button" uk-close></button>
    <div class="uk-grid-collapse" uk-grid uk-height-match="target:>div>*">
      <div class="uk-width-expand">
        <img src="{{prescription.prescription_pic.[0]}}" alt="Md. {{prescription.medicName}} @ <span>Date {{prescription.prescription_date}} Prescription Picture">
    </div>
  </div>
</div>