<div style="background: #dbd9d6; color: #002856; text-align: center;">

  <p style="font-size: 14px; padding: 20px 0;">
    <a href="https://cappsule-app.herokuapp.com/" title="Log into your profile" style="color: #94c0e9; text-decoration: none;">Click <span style="color: #002856;">here</span> to log into your profile</a>
  </p>
  
  <table align="center" style="background: #fff; border-radius: 5px; color: #002856; padding: 0 25px 30px; text-align: center;">
    <tr>
      <td style="padding: 20px 0;"><img src="https://res.cloudinary.com/cappsule/image/upload/v1541540518/public/logo-small.png" alt="Cappsule: Medicine cabinet on the go" height="200" width="200" style="display: block; margin: 0 auto;"></td>
    </tr>
    <tr>
      <td>
        <h1>Welcome to C<span style="color: #94c0e9;"><i>app</i></span>sule!</h1>
        <h2>Hello, {{name}}</h2>
      </td>
    </tr>
    <tr>
      <td>
        <p>Thank you for joining our awesome C<span style="color: #94c0e9;"><i>app</i></span>sule community.</p>
        <p>You can now log in with the phone number <span style="color: #94c0e9">{{username}}</span></p>
        <a href="https://cappsule-app.herokuapp.com/" title="Log in to Cappsule" style="display: inline-block; background: #94c0e9; border: 1px solid #dbd9d6; border-radius: 5px; color: #fff; padding: 10px 25px; text-decoration: none;">Log in</a>
      </td>
    </tr>
    <tr>
      <td style="padding: 15px 0; text-align: left;">
        <p>With C<span style="color: #94c0e9;"><i>app</i></span>sule it's so easy to get your medicine cabinet organized on the go.</p>
        <p>Some of our great features include:</p>
        <ul>
          <li>Find the cheapest medicine option</li>
          <li>Have control of all your medicines</li>
          <li>Get reminders about your treatments</li>
        </ul>
        <p>These and even more are available, discover all of them!</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>We are really happy to see you around <span style="color: #94c0e9; font-size: 1.5em; font-weight: 100;">☤</span></h3>
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://cappsule-app.herokuapp.com/" title="Log in to Cappsule" style="display: inline-block; background: #94c0e9; border: 1px solid #dbd9d6; border-radius: 5px; color: #fff; padding: 10px 25px; text-decoration: none;">Log in</a>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 20px">
        <h4 style="color: #dbd9d6">The Cappsule Team</h4>
      </td>
    </tr>
  </table>

  <p style="font-size: 14px; padding: 20px 0;">
    <a href="https://cappsule-app.herokuapp.com/" title="Log into your profile" style="color: #94c0e9; text-decoration: none;">Click <span style="color: #002856;">here</span> to log into your profile</a>
  </p>

</div>