{{!-- <h1>404 Error</h1>
<h2>This route does not exist on the app! Check if everything is ok!</h2> --}}
<div class="not-found-wrapper">
  <img src="/img/error-pill.png" alt="" class="pill">
  <h2>Oops! There's nothing here</h2>
  <p><span onclick="goBack()">Go back</span></p>
</div>