{{!-- <h1>404 Error</h1>
<h2>This route does not exist on the app! Check if everything is ok!</h2> --}}
<div class="not-found-wrapper uk-text-center">
  <img src="/img/error-pill.png" alt="" class="pill">
  <h2>Oops! There's nothing here</h2>
  <p><span onclick="goBack()"><img id="goBack" data-src="/img/goback.png" uk-img> Go back</span></p>
</div>