.auth-field label {
  display: block;
}
.auth-field input {
  width: 100%;
}
main {
  width: 100vw;
}
.add-new > button {
  display: block;
  margin: 0 auto;
}
.create-field input {
  width: 100%;
}
.search-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 4vh;
}
.search-results-wrapper {
  min-height: 166px;
}
.result-card {
  border-radius: 0.5vw;
}
.result-card h4 {
  text-align: center;
}
.result-card form label {
  display: block;
  padding-top: 5px;
}
.result-card form select {
  width: 50%;
}
.result-card form input {
  width: 100%;
}
.result-card form input, .result-card form select {
  margin-bottom: 10px;
}
.submit-form {
  margin-top: 5px;
  text-align: right;
}
.submit-form button {
  position: relative;
}
@keyframes updated {
  11% {
    background: green;
    color: #fff;
  }
  70% {
    background: green;
    color: #fff;
  }
  100% {
    background: #eee;
    color: initial;
  }
}
@keyframes tick {
  11% {
    transform: translate(0,-5px) scale(1);
  }
  70% {
    transform: translate(0,-5px) scale(1);
  }
  100% {
    transform: translate(0,0) scale(0);
  }
}
.submit-form button.updated {
  background: #eee;
  animation: updated 1.7s forwards;
}
.submit-form button.updated::before, .submit-form button.error-update::before, .submit-form button.error-delete::before {
  font-size: 1.5em;
  position: absolute;
}
.submit-form button.updated::before {
  content: '✓';
  color: green;
  left: -20px;
  transform: translate(0,0) scale(0);
  animation: tick 1.7s forwards;
}
.submit-form button.error-update, .submit-form button.error-delete {
  background: red;
  color: #fff;
}
.submit-form button.error-update::before, .submit-form button.error-delete::before {
  content: '✖';
  color: red;
  transform: translate(0,-2px);
}
.submit-form button.error-update::before {
  left: -20px;
}
.submit-form button.error-delete::before {
  right: -20px;
}
.submit-form button[data-click] {
  background: tomato;
  border-radius: 5px;
  color: #fff;
}
.no-results {
  color: tomato;
  font-weight: bold;
  padding: 3vh 4vh;
}