.auth-field label {
  display: block;
}
.auth-field input {
  width: 100%;
}
main {
  width: 100vw;
}
.search-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 4vh;
}
.result-card {
  border-radius: 0.5vw;
}
.result-card h4 {
  text-align: center;
}
.result-card form label {
  display: inline-block;
  padding-top: 5px;
}
.result-card form input {
  width: 100%;
}
.result-card form input, .result-card form select {
  margin-bottom: 10px;
}
.submit-form {
  margin-top: 5px;
  text-align: right;
}
.submit-form button {
  position: relative;
}
@keyframes tick {
  to {
    transform: translate(0,-5px) scale(1);
  }
}
@keyframes updated {
  to {
    background: green;
    color: #fff;
  }
}
.submit-form button.updated {
  background: #eee;
  animation: updated 200ms forwards;
}
.submit-form button.updated::before {
  content: '✓';
  color: green;
  font-size: 1.5em;
  position: absolute;
  left: -20px;
  transform: translate(0,0) scale(0);
  animation: tick 200ms forwards;
}
.submit-form button.error {
  background: red;
  color: #fff;
}
.submit-form button.error::before {
  content: '✖';
  color: red;
  font-size: 1.5em;
  position: absolute;
  left: -20px;
  transform: translate(0,-5px);
}
.submit-form button[data-click] {
  background: tomato;
  border-radius: 5px;
  color: #fff;
}