.uk-offcanvas-bar .uk-nav-primary > li.li-home > a {
  color: #fff;
}
.profile-pic-wrapper {
  text-align: center;
}
.profile-pic-wrapper .profile-pic {
  background: center / cover no-repeat white;
  border: 1px solid var(--neutral);
  border-radius: 100%;
  height: 120px;
  margin: auto;
  width: 120px;
}
.menu-cards a {
  text-decoration: none;
}
.menu-cards a:focus {
  outline: none;
}
.menu-cards a:focus > div {
  box-shadow: 0 0 10px var(--main);
}
.menu-cards .uk-card-primary {
  background: var(--cold);
  transition: all 200ms ease;
}
.menu-cards .uk-card-primary.uk-card-hover:hover {
  background: var(--main);
  box-shadow: 0 14px 25px rgba(0,40,86,0.6);
}
.menu-cards .uk-card-primary.uk-card-hover:hover h2 {
  color: var(--cold);
}
.menu-cards {
  min-width: 100vw;
}
.menu-cards .uk-card-body {
  padding: 15px;
}
.menu-cards .uk-card h2 {
  font-size: 1.3rem;
}
.menu-cards .uk-card h2 span svg {
  height: 15px;
  width: 15px;
}
#search-modal .uk-modal-dialog .uk-grid {
  width: 90vw;
}
#search-form button{
  display: none;
}
#search-form button:hover {
  background: var(--cold);
  border-radius: 0.8vw;
  color: var(--main);
}
.search-image {
  cursor: pointer;
  height: 40px;
}
.search-image a {
  background: var(--neutral);
  border-radius: 0.8vw;
  color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 100%;
  text-align: center;
  transition: all 200ms ease;
  width: 80px;
}
.search-image:hover a {
  background: var(--cold);
  box-shadow: 0 5px 5px rgba(0,40,86,0.6);
  color: var(--main);
}
.search-image:active a {
  background: var(--main);
  box-shadow: inset 3px 5px 5px rgb(148,192,233,0.6);
  color: var(--cold);
}


@media only screen and (min-width: 640px) {
  #search-modal .uk-modal-dialog .uk-grid {
    width: initial;
  }
  #search-form input {
    font-size: 2.6rem;
  }
  #search-form button{
    display: flex;
  }
  .menu-cards {
    min-width: 50vw;
  }
  .menu-cards .uk-card-body {
    padding: 30px;
  }
  .menu-cards .uk-card h2 {
    font-size: 1.7rem;
  }
  .menu-cards .uk-card h2 span svg {
    height: 20px;
    width: 20px;
  }
  .search-image a svg {
    height: 35px;
    width: 35px;
  }
}
@media only screen and (min-width: 1200px) {
  .menu-cards .uk-card-body {
    padding: 40px;
  }
  .menu-cards .uk-card h2 {
    font-size: 2rem;
  }
}