#search-form {
  width: 100%;
}
#search-form input {
  background: #fff;
  border-radius: 0.8vw;
  overflow: hidden;
  width: 100%;
}
#search-form button {
  border-bottom-right-radius: 0.8vw;
  border-top-right-radius: 0.8vw;
}
#search-form button:hover {
  color: var(--main);
  background: var(--cold);
}
#search-results {
  min-height: 166px;
  width: 90vw;
}