.map-wrapper {
  display: flex;
  justify-content: flex-end;
}
.search-products {
  background: #f6f6f6;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 979;
}
#search-form input {
  background: #fff;
  border-radius: 0.8vw;
  overflow: hidden;
  width: 100%;
}
#search-form button {
  border-bottom-right-radius: 0.8vw;
  border-top-right-radius: 0.8vw;
}
#search-form button:hover {
  color: var(--main);
  background: var(--cold);
}
#search-results {
  min-height: 166px;
  width: 90vw;
}
.search-image {
  cursor: pointer;
  height: 40px;
}
.search-image a {
  background: var(--main);
  border-radius: 0.8vw;
  color: var(--cold);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 100%;
  text-align: center;
  transition: all 200ms ease;
}
.search-image:hover a {
  background: var(--cold);
  box-shadow: 0 5px 5px rgba(0,40,86,0.6);
  color: var(--main);
}
.search-image:active a {
  background: var(--neutral);
  box-shadow: inset 3px 5px 5px rgba(0,40,86,0.6);
  color: var(--main);
}
#search-results div[uk-grid] div a {
  text-decoration: none;
}
#search-results div[uk-grid] > div:hover > a > div{
  background: var(--neutral);
  box-shadow: 0 5px 5px rgba(0,40,86,0.6);
}
#search-results div[uk-grid] > div > a > div {
  transition: all 250ms ease;
}
.uk-tile form {
  display: flex;
  min-height: 502px;
  flex-direction: column;
}
.product-info {
  flex: 1 0 auto;
}
.add-product-wrapper {
  text-align: right;
}
.add-product-wrapper span.buy-button {
  background: green;
  color: white;
  cursor: pointer;
  transition: all 200ms ease;
}
.add-product-wrapper span.buy-button:hover {
  background: darkgreen;
}
.add-product-wrapper button {
  background: var(--main);
  color: var(--cold);
  transition: all 200ms ease;
}
.add-product-wrapper button:hover {
  background: var(--cold);
  color: var(--main);
}