* {
  box-sizing: border-box;
}
:root {
  --main: #002856;
  --cold: #94c0e9;
  --neutral: #dbd9d6;
}
body {
  background: rgba(219,217,214,0.2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 75px;
  width: 100%;
}
h1 {
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--main);
}
a {
  color: var(--cold);
}
a:hover {
  color: var(--main);
}
button, .uk-button {
  border-radius: 0.8vw;
  cursor: pointer;
}
nav {
  height: 50px;
  z-index: 979;
}
.uk-navbar-container:not(.uk-navbar-sticky) {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
  background: var(--neutral);
}
.uk-navbar-nav>li>a {
  color: var(--cold);
}
.uk-navbar-nav>li:hover>a {
  color: var(--main);
}
.uk-navbar-sticky .uk-navbar-nav>li>a {
  color: var(--main);
}
.uk-navbar-sticky .uk-navbar-nav>li:hover>a {
  color: var(--cold);
}
.uk-offcanvas-bar {
  background: var(--main);
}
.uk-navbar .uk-logo .navbar-logo {
  opacity: 1;
  transition: all 200ms ease;
}
.uk-logo .navbar-logo:hover {
  opacity: 0.8;
}
.uk-navbar-right .profile-pic {
  background: center / cover no-repeat white;
  border: 1px solid var(--neutral);
  border-radius: 100%;
  height: 30px;
  margin: auto;
  opacity: 1;
  width: 30px;
  transition: all 200ms ease;
}
.uk-navbar-right .profile-pic:hover {
  opacity: 0.8;
}
main {
  flex: 1 0 auto;
  min-height: calc(100vh - 50px);
  padding-top: 50px;
}
.uk-card, .uk-tile {
  border-radius: 0.8vw;
}
.errorCard {
  background: #f0506e;
  border-radius: 5px;
  color: #fff;
}
.errorMessage {
  font-style: italic;
  text-align: center;
}
.errorCard .errorMessage.uk-text-meta {
  color: #fff; 
}

@keyframes errorPill {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes errorH2 {
  to {
    opacity: 1;
    transform: translate(0,0) scale(1);
    z-index: 0;
  }
}
.not-found-wrapper {
  padding: 10vh;
}
img.pill {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 33vw;
  transform: rotate(0);
  animation: errorPill 350ms ease 200ms forwards;
}
.not-found-wrapper h2 {
  margin-top: 20px;
  opacity: 0;
  text-align: center;
  transform: translate(0,-100%) scale(0);
  z-index: -1;
  animation: errorH2 600ms ease-in 275ms forwards;
}
.not-found-wrapper p {
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
.not-found-wrapper p img {
  background: var(--main);
  border-radius: 100%;
  display: inline-block;
  height: 30px;
  margin-right: 5px;
  padding: 5px;
  width: 30px;
  transition: all 500ms ease;
}
.not-found-wrapper p:hover img {
  background: var(--cold);
  transform: rotate(-400deg);
}
footer {
  margin-top: 5vh;
}
.back-to-top {
  background: var(--main);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  opacity: 0.6;
  transform: rotateY(90deg);
  width: 40px;
}
.back-to-top .uk-totop {
  color: var(--cold);
}
.back-to-top, .back-to-top .uk-totop {
  transition: all 300ms ease;
}
.back-to-top:hover {
  background: var(--cold);
  box-shadow: 0 3px 5px rgba(0,40,86,0.6);
  opacity: 1;
}
.back-to-top .uk-totop:hover {
  color: var(--main);
}
.back-to-top:focus {
  background: var(--neutral);
  opacity: 0.6;
}
.back-to-top .uk-totop:focus {
  color: var(--main);
}
@keyframes showBtt {
  to {
    transform: rotateY(0);
  }
}
.show-btt {
  animation: showBtt 350ms ease forwards;
}
#loader {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}
#loader div {
  height: 100vh;
  width: 100%;
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
#loader div img {
  display: block;
  height: 100%;
  margin: 0 auto;
  opacity: 1;
  width: auto;
  animation: loader 1s ease infinite forwards;
}


.uk-drop {
  z-index: 979;
}
