:root {
  --primary: blue;
  --warm: red;
  --neutral: gray;
}
.errorCard {
  background: #f0506e;
  border-radius: 5px;
  color: #fff;
}
.errorMessage {
  font-style: italic;
  text-align: center;
}
.errorCard .errorMessage.uk-text-meta {
  color: #fff; 
}