<h1>Kit</h1>

<div class="kits-wrapper">
		{{#if cabinet}}
			<ul>
				{{#each cabinet as |kit|}}
					<li>{{@key}}</li>
						<ul>
								{{#each kit as |product|}}
									<li>{{product}}</li>
								{{/each}}
						</ul>
				{{/each}}
			</ul>
		{{else}}
			<h3>Nothing to show here yet</h3>
		{{/if}}
</div>