<h1>Reminders</h1>
<a href="">add</a>

<div class="reminder-add-wrapper">
    <form action="/user/{{user._id}}/reminders/add" method="post">
    
    </form>

</div>

<div class="reminders-wrapper">
    <ul>
        {{#each reminders as |reminder|}}
            <li>{{reminder.productId.name}} {{reminder.date}}</li>
        {{/each}}
    </ul>
</div>