<div class="uk-margin">
  <form id="search-form" action="/search/image" method="POST" enctype="application/x-www-form-urlencoded" class="uk-search uk-search-default">
    <!--
    <input id="searchResults" name="imageString" class="uk-search-input" type="search" placeholder="Search..." autocomplete="on" autofocus>
    -->
    <textarea name="imageString" id="searchResults" cols="30" rows="10" style="display: none" ></textarea>
    <button type="submit" class="uk-search-icon-flip" uk-search-icon uk-search-toggle style="display: none" ></button>
  </form>
</div>

<div>
  <video id="player" autoplay></video>
  <canvas id="snapshot" width=320 height=240 style="display: none"></canvas></canvas>
  <button id="capture" class="uk-search-icon-flip" uk-search-icon uk-search-toggle style="display: block; align-text: center"></button>
  <button id="flip-button">Flip camera</button>
</div>

<script>
  var player = document.getElementById('player'),
      snapshotCanvas = document.getElementById('snapshot'),
      captureButton = document.getElementById('capture'),
      videoTracks,
      searchResults;

  var handleSuccess = function(stream) {
    player.srcObject = stream;
    videoTracks = stream.getVideoTracks();
  };

  captureButton.addEventListener('click', function() {
    var ctx = snapshot.getContext('2d');
    ctx.drawImage(player, 0, 0, snapshotCanvas.width, snapshotCanvas.height);

    var pngUrl = snapshotCanvas.toDataURL(),
        dataString = pngUrl.slice(22,pngUrl.length);

    Promise.resolve($('#searchResults').val(dataString)).then(()=> {
      console.log('Ok')
      $("#search-form").submit();
    });
    
    videoTracks.forEach(function(track) {track.stop()});
  });

  var front = false;
  document.getElementById('flip-button').onclick = function() { front = !front; console.log(front, constraints)};
  
  var constraints = { video: { facingMode: (front? "user" : "environment") } };

  navigator.mediaDevices.getUserMedia(constraints)
      .then(handleSuccess)
     /* .catch(err => {
        console.log('Error =====> ', err);

      });*/
</script>