<form action="/admin/{{user._id}}" method="POST" enctype="application/x-www-form-urlencoded" id="create-offer" class="create-form uk-card uk-card-body uk-card-default">
  <div class="create-field">
    <label for="name">Name</label>
    <input name="name" type="text" placeholder="Offer's name" required autofocus>
  </div>
  <div class="create-field">
    <label for="alias">Alias</label>
    <input name="alias" type="text" placeholder="black-friday" required>
  </div>
  <div class="create-field">
    <label for="product">Product</label>
    <input name="productId" type="text" placeholder="Product" required>
  </div>
  <div class="create-field">
    <label for="pharmacy">Pharmacy</label>
    <input name="pharmacyId" type="text" placeholder="Pharmacy" required>
  </div>
  <div class="create-field">
    <label for="price">Price</label>
    <input name="price" type="number" placeholder="$0.00" required>
  </div>
  <div class="create-field">
    <label for="discount">Discount</label>
    <input name="discount" type="number" placeholder="50%" required>
  </div>
  <div class="create-field">
    <label for="Validity">Validity</label>
    <input name="validity" type="date">
  </div>
  <div class="create-field">
    <label for="terms">Terms</label>
    <input name="terms" type="text" placeholder="Terms & Conditions">
  </div>
  <button type="submit">Create</button>
</form>